@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

.entityContainer{
    display: flex;
    align-items: center;
    gap: 1.0625rem;
}

.techName{
    font-size: 1.25rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
    color: white;
}